apiVersion: v1
kind: Service
metadata:
  name: node-service
  namespace: urlshortener
  labels:
    app: node-service
spec:
  ports:
    - port: 3000
      targetPort: 3000
      protocol: TCP
  selector:
    app: node-service
