apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: go-data
  namespace: urlshortener
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
  storageClassName: gp2
