apiVersion: v1
kind: Service
metadata:
  name: python-service
  namespace: urlshortener
spec:
  selector:
    app: python-service
  ports:
    - port: 5000
      targetPort: 5000
  type: LoadBalancer
