apiVersion: v1
kind: Service
metadata:
  name: redis
  namespace: urlshortener
  labels:
    app: redis
spec:
  ports:
    - port: 6379
      targetPort: 6379
  selector:
    app: redis
  clusterIP: None # Headless service for stateful applications
